<h1>市町村紹介サイト（サンプル）</h1>

<ul>
  <li><a href="/tokushima/">徳島市</a></li>
  <li><a href="/naruto">鳴門市</a></li>
  <li><a href="/anan">阿南市</a></li>
</ul>

<div>
  <a href="/import/">インポート</a> / <a href="/export">エクスポート</a>
</div>
